[project]
	description = Handly
[access "refs/heads/*"]
	abandon = group ldap/technology.handly
	create = group ldap/technology.handly
	forgeAuthor = group ldap/technology.handly
	push = group ldap/technology.handly
	pushMerge = group ldap/technology.handly
	label-Code-Review = -2..+2 group ldap/technology.handly
	label-Verified = -1..+1 group ldap/technology.handly
	submit = group ldap/technology.handly
[access "refs/tags/*"]
	create = group ldap/technology.handly
	push = group ldap/technology.handly
	pushTag = group ldap/technology.handly
	pushSignedTag = group ldap/technology.handly
