<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2015 Codasip Ltd.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Ondrej Ilcik (Codasip)
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.handly.examples"
            class="org.eclipse.handly.internal.examples.javamodel.ui.navigator.JavaNavigator"
            icon="icons/eview16/package.gif"
            id="org.eclipse.handly.examples.javamodel.ui.views.JavaNavigator"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.handly.examples.javamodel.ui.views.JavaNavigator"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.handly.examples.javamodel.ui.views.JavaNavigator">
         <popupMenu
               allowsPlatformContributions="true"
               id="org.eclipse.handly.examples.javamodel.ui.views.JavaNavigator#PopupMenu">
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>            
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.handly.examples.javamodel.ui.views.JavaNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.handly.examples.javamodel.ui.navigator.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.handly.examples.javamodel.ui.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.handly.examples.javamodel.ui.views.JavaNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.handly.examples.javamodel.ui.navigator.OpenActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.GotoActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.GoIntoActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkManagementActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.handly.examples.javamodel.ui.navigator.WorkingSetActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.handly.examples.javamodel.ui.JavaModelContentProvider"
            icon="icons/eview16/jperspective.gif"
            id="org.eclipse.handly.examples.javamodel.ui.navigator.JavaContent"
            labelProvider="org.eclipse.handly.examples.javamodel.ui.JavaModelLabelProvider"
            name="%navigatorContent.name"
            priority="highest">
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.javamodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
            </or></possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.javamodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
            </or>
         </triggerPoints>
         <commonSorter
               class="org.eclipse.handly.internal.examples.javamodel.ui.JavaElementSorter">
         </commonSorter>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
         <commonWizard
               menuGroupId="group.new"
               type="new"
               wizardId="org.eclipse.jdt.ui.wizards.JavaProjectWizard">
            <enablement></enablement>
         </commonWizard>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.handly.internal.examples.javamodel.ui.navigator.OpenActionProvider"
            id="org.eclipse.handly.examples.javamodel.ui.navigator.OpenActionProvider">
         <enablement></enablement>
      </actionProvider>
      <actionProvider
            id="org.eclipse.handly.examples.javamodel.ui.navigator.WorkingSetActionProvider"
            class="org.eclipse.handly.internal.examples.javamodel.ui.navigator.WorkingSetActionProvider">
         <enablement></enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.handly.internal.examples.javamodel.ui.filters.OutputFolderFilter"
            description="%commonFilter.description"
            id="org.eclipse.handly.examples.javamodel.ui.filters.HideOutputFolder"
            name="%commonFilter.name"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.eclipse.handly.internal.examples.javamodel.ui.filters.EmptyPackageFilter"
            description="%commonFilter.description.0"
            id="org.eclipse.handly.examples.javamodel.ui.filters.HideEmptyPackages"
            name="%commonFilter.name.0"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.handly.internal.examples.javamodel.ui.filters.EmptyInnerPackageFilter"
            description="%commonFilter.description.1"
            id="org.eclipse.handly.examples.javamodel.ui.filters.HideEmptyParentPackages"
            name="%commonFilter.name.1"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.eclipse.handly.internal.examples.javamodel.ui.navigator.JavaLinkHelper"
            id="org.eclipse.handly.examples.javamodel.ui.navigator.JavaLinkHelper">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
            </or>
         </editorInputEnablement>
         <selectionEnablement>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.javamodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.handly.examples.javamodel.IJavaElement"
            class="org.eclipse.handly.internal.examples.javamodel.ui.JavaElementAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.ui.IPersistableElement">
         </adapter>
         <adapter
               type="org.eclipse.ui.IContainmentAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            id="org.eclipse.handly.examples.javamodel.ui.PersistableJavaElementFactory"
            class="org.eclipse.handly.internal.examples.javamodel.ui.PersistableJavaElementFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            id="org.eclipse.handly.examples.javamodel.ui.JavaWorkingSetPage"
            name="Java (Handly)"
            description="Working set for Java elements"
            pageClass="org.eclipse.handly.internal.examples.javamodel.ui.workingset.JavaWorkingSetPage"
            elementAdapterClass="org.eclipse.handly.internal.examples.javamodel.ui.workingset.JavaWorkingSetElementAdapter"
            updaterClass="org.eclipse.handly.internal.examples.javamodel.ui.workingset.JavaWorkingSetUpdater">
      </workingSet>
   </extension>
</plugin>
